$desktop: 800px;
$desktopBigger: 1350px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktopBigger {
  @media (min-width: #{$desktopBigger}) {
    @content;
  }
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  background: url("https://wallpaperplay.com/walls/full/c/2/f/170697.jpg");
  background-size: cover;
}

.App {
  text-align: center;
  margin-top: 50px;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.row {
  margin: 0;

  .col-xl-3 {
    height: 100%;

    @include desktop {
      height: 800px;
      margin-bottom: 100px;

      &:nth-child(-n + 3) {
        border-right: 1px solid white;
      }
    }

    .TasksToDoHeader {
      padding: 20px;
      padding-bottom: 50px;

      h2 {
        color: white;
      }

      h6 {
        color: white;
      }

      button {
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .TasksToDoContainers {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 80px;
    }
  }

  .singleTaskPriority {
    position: relative;
    width: 270px;
    padding: 20px;
    margin: 10px;
    border-radius: 2vw;
    display: inline-block;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 2px 6px rgb(255, 0, 0);

    h4 {
      margin-top: 10px;
      padding: 4px;
      margin-bottom: 30px;
      overflow-wrap: break-word;
    }

    .priority {
      color: white;
      font-weight: bold;
      margin-top: 10px;
      padding: 2px;
    }

    .control-buttons {
      text-align: end;
      margin-top: -10px;
      padding-bottom: 15px;
    }

    p {
      position: absolute;
      top: 10px;
      left: 18px;
      font-size: 15px;
      font-family: "Audiowide", cursive;
      border-bottom: 2px solid rgb(0, 140, 255);
      border-block-end-style: groove;
    }

    button {
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .singleTask {
    position: relative;
    width: 270px;
    padding: 20px;
    margin: 10px;
    border-radius: 2vw;
    display: inline-block;
    border: 2px solid black;
    box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);

    h4 {
      margin-top: 10px;
      padding: 4px;
      margin-bottom: 30px;
      overflow-wrap: break-word;
    }

    .standard {
      color: white;
      font-family: "Kalam", cursive;
    }

    .priority {
      color: red;
      font-weight: bold;
      margin-top: 10px;
      padding: 2px;
      border: 2px dashed red;
    }

    .control-buttons {
      text-align: end;
      margin-top: -10px;
      padding-bottom: 15px;
    }

    p {
      position: absolute;
      top: 10px;
      left: 18px;
      font-size: 15px;
      font-family: "Audiowide", cursive;
      border-bottom: 2px solid rgb(0, 140, 255);
      border-block-end-style: groove;
    }

    button {
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.paginat {
  margin: 2px;

  &:focus {
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bolder;
    transform: scale(1.1);
    box-shadow: 0px 0px 3px 1px rgb(0, 60, 255) inset;
  }
}

#page-numbers {
  list-style: none;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}
